 /* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }                                                         
 nav{
    height: 80px;
    width: 100%;
    background: linear-gradient(blue, rgb(131, 176, 212));
}
label.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 40px;
    line-height: 20px;
}
.lab{
    display: flex;
    justify-content: space-between;
}
nav ul{
   
    margin-right: 20px;
}
.lab ul li{
 list-style: none; 
 text-decoration: none;
}
.lab li{
    
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.lab ul li a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 5px 0px;
    border-radius: 3px;
    list-style: none;
    text-decoration: none;
}

a.active,a:hover{
    transition: .5s;
}

nav #icon{
    color: white;
   font-size: 30px;
   line-height: 10px;
   float: right;
   margin-right: 40px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
.home{
    display: flex;
    background: linear-gradient(blue, rgb(131, 176, 212));
    align-items: center;
    

}
.texts{
    margin-left: 70px;
    margin-top: 20px;
    margin-right: 90px;
    margin-bottom: 40px;
}
.home .texts h1{
color: white;
font-size: 40px;
font-family: monospace;
margin-bottom: 20px;
}
.home .texts p{
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    margin-bottom: 20px; 
}
.home .texts h4{
    color: white;
    font-size: 15px;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    margin-bottom: 20px;
  }
  .BUTT{
    border-radius: 8px;
    background: blue;
    border: none;
    margin-bottom: 90px;
    color: white;
    width: 180px;
    align-items: center;
  }
  .home img{
    margin-bottom: 40px;
  }
  .home-img img {
   width: 300px;  
    
}    
.about{
    background-color: rgb(245, 244, 241);
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.about h2{
    color: black;
    font-size: 30px;
    margin-top: 10px;
}
.about p{
    font-size: 15px
}

.shadows{
    display: flex;
}
.boxes{
    display: grid;
    margin-right: 70px;
}
.boxes .box-shadow{
    width: 450px;
    height: 120px;
    margin-bottom: 20px;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    display: flex;
    box-shadow: rgba(14, 30, 37, 0.12) 10px 12px 14px 10px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;   
}
.services{
    display: grid;
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 90px;
    background-color: rgb(245, 244, 241);
}
.services h4{
 font-size: 20px;
}
.father{
    display: flex;
}
.father img{
    width: 450px;
    margin-left: 50px;
}
.mother{
    display: flex;
}
.boxe{
    display: grid;
    margin-right: 20px;
}
.boxe .boxshadow{
    width: 180px;
    height: 120px;
    margin-bottom: 20px;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 10px 12px 14px 10px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;   
}
.boxshadow h4{
    font-size: 19px;
}
.platform{
    padding-left: 90px;
    padding-right: 90px;
    background: rgb(245, 244, 241);
}
.platform h4{
    font-size: 15px;
}
.collaborate{
    display: flex;

}
.collaborate img{
    width: 500px;
    margin-right: 100px;
}

 .boxhadow{
    width: 330px;
    height: 170px;
    margin-bottom: 20px;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    display: grid;
    box-shadow: rgba(14, 30, 37, 0.12) 10px 12px 14px 10px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;   
}
.boxhadow h4{
    font-size: 15px;
    font-weight: 100;
}
.contact{
    display: flex;
    padding: 40px;
}
.form{
    margin-left: 70px;
    text-align: center;
    margin-right: 30px;
}
.form h4{
    font-size: 20px;
    font-weight: 200;
}
.Name{
    margin-bottom: 20px;
   
}
.Name input{
    width: 550px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}


.Name input:hover{
    border: 2px solid  rgb(29, 99, 230);
}
.Subject{
    margin-bottom: 20px;
   
}
.Subject input{
    width: 550px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}


.Subject input:hover{
    border: 2px solid  rgb(29, 99, 230)blue;
}
.mail{
    margin-bottom: 20px;
   
}
.mail input{
    width: 550px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}


.mail input:hover{
    border: 2px solid  rgb(29, 99, 230);
}
.message{
    margin-bottom: 20px;
   
}
.message input{
    width: 550px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
.message input:hover{
    border: 2px solid rgb(29, 99, 230);
}
.form button{
    width: 550px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(29, 99, 230);
}
.contact img{
    width: 500px;
}
.footer{
    display: flex;
    padding: 0px;
    background-color: rgb(29, 99, 230);
    
}
.foot-text{
    margin-left: 100px;

    margin-right: 10px;
    text-align: left;
    
}
.foot-text h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;

}
.foot-text h3{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: white;
    
}
.foot-link1{
    margin-left: 10px;
    color: white;
    margin-right: 10px;
    text-align: left;
}
.foot-link1 h4{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;

}
.foot-link1 h5{
    margin: 0;
    padding: 0;
    line-height: 300%;
    font-size: 15px;
    color: white;
    
}
.foot-link2{
    margin-left: 10px;
    color: white;
    margin-left: 50px;
    text-align: left;
}
.foot-link2 h4{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;

}
.foot-link2 h5{
    margin: 0;
    padding: 0;
    line-height: 300%;
    font-size: 15px;
    color: white;
    
}
@media(max-width:1048px){
    label.logo{
        font-size: 32px;
        padding-left: 10px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }

}
@media(max-width: 990px){
   
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    label.logo{
        font-size: 10px;
    }
       nav  #icon{
            display: block;
            align-items: center;
            color: black;
            line-height: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
        }
        nav ul{
            position: fixed;
            display: grid;
            width: 100%;
            height: 100vh;
             background: linear-gradient(blue, rgb(131, 176, 212));
            top: 80px;
            left: 100%;
            transition: all 1s;
            text-align: center;
        }
        nav li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav a{
            font-size: 20px;
        }
        a.active,a:hover{
            border: none;
            color: #349d;
        }
        nav ul.show{
            left: 0;
        }
        nav ul.close{
            right: 100;
        }
    
    .home{
        display: grid;
       
    }
    .texts{
         padding: 0 !important;
        margin: 0 !important;
        margin-left: 15px !important;
    }
    .home-img img {
        width: 300px;  
        margin-left: 10px;
         
     }
     .about{
        display: grid;
      
        
        padding: 0 !important;
        margin: 0 !important;
     }
     .about h2{
        color: black;
        font-size: 30px;
        margin-top: 10px;
        
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
    .about p{
        
        font-size: 12px;
        margin-left: 10px;
        
        text-align: left;
    
    }
    .shadows{
        display: grid;
    }
    .boxes{
        display: grid;
        margin: 0 !important;
        padding: 0 !important;
    }
    .boxes .box-shadow{
        width: 300px;
        margin-left: 20px;
        height: 100px;
        margin-bottom: 10px;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        display: flex;
    }
    .services{
        display: grid;
       padding: 0;
       margin: 0;
       margin-top: 100px;
       margin-right: 10px;
    }
    .services h2{
        font-size: 20px;
        margin-left: 20px;
    }
    .services h4{
     font-size: 13px;
     margin-left: 30px;
    }
    .father{
        display: grid;
    }
    .father img{
        width: 300px;
        margin-left: 15px;
        margin-top: 30px;
    }
    .mother{
        display: grid;
    }
    .boxe{
        display: grid;
        margin-left: 20px;
    }
    .boxe .boxshadow{
        width: 300px;
        height: 120px;
        margin-left: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        display: flex;
        box-shadow: rgba(14, 30, 37, 0.12) 10px 12px 14px 10px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;   
    }
    .boxshadow h4{
        font-size: 15px;
    }
     
    .platform{
        padding-left: 10px;
        padding-right: 10px;
      
    }
    .platform h4{
        font-size: 10px;
    }
    .collaborate{
        display: grid;
    
    }
    .collaborate img{
        width: 300px;
        margin: 0 !important;
        padding: 0 !important;
        
    }
    
     .boxhadow{
        width: 300px;
        height: 170px;
        margin-bottom: 20px;
        margin-left: 20px;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        display: grid;
        box-shadow: rgba(14, 30, 37, 0.12) 10px 12px 14px 10px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;   
    }
    .boxhadow h4{
        font-size: 15px;
        font-weight: 100;
    }
    .contact{
        display: grid;
    }
    .form{
        margin-left: 0 !important;
        padding: 0;
    }
    .Name .Subject .mail .message button{
        padding: 0;
        margin: 0;
    } 
    .Name input {
        width: 280px;
    }
    .Name input:hover{
        border: 2px solid  rgb(29, 99, 230)blue;
    }
    .Subject  input {
        width: 280px;
    }
    .Subject input:hover{
        border: 2px solid  rgb(29, 99, 230)blue;
    }
    .mail  input {
        width: 280px;
    } 
    .mail input:hover{
        border: 2px solid  rgb(29, 99, 230)blue;
    } 
    .message  input {
        width: 280px;
    }  
    .message input:hover{
        border: 2px solid  rgb(29, 99, 230)blue;
    }
    .form button{
        width: 280px;
    }
    .contact img{
        width: 250px;
        padding: 0 !important;
        margin: 0 !important;
    }
    .footer{
        display: grid;
        margin: 0;
        padding: 0;
        align-items: center;
        text-align: left;
    }
    .foot-text{
        margin: 0;
        margin-left: 10px;
    }
    .foot-link2{
        margin: 0;
        margin-left: 10px;
    }
} */




.father{
    background: linear-gradient(blue, rgb(131, 176, 212)); 
    height : 500px;
}
.mai{
    background-color:rgb(204, 204, 204);
}
.child{
    width:150px;
    height: 130px;
    border-radius: 5px;
    background-color:white;
     padding-top:50px;
     text-align: center;
     box-shadow:
     rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px
     0px;
    }
    .stepfather{
        background-color: rgb(245, 244, 241);
        height: 500px;
    }
.BUTT{
    color :white;
   width: 40%;
   border-radius:4px;
   background-color: blue;
   border: blue;
   height: 30px;
    width: 140px;
}
input{
    border:2px solid rgb(231, 225, 225);
    height:50px;
   width:400px;
   border-radius: 18px;
}
.input-field{
    margin-bottom:10px;
    justify-content:center;
        display:grid;}
        input:hover{
            color:white;
            background-color: white;
            border:2px solid rgb(126, 126, 245);
        }
        .btn{
            width: 100%;
            height: 40px;
            border-radius: 4px;
            color: black;
            
            background-color: rgb(29, 99, 230);
        }
        .stepdaugter{
            background-color:rgb(250, 249, 249) ;
            height: 500px;
        }
        .s4{
            padding-left: 90px;
         }
         .s3{
             font-family:monospace;
            padding-top: 20px;
            padding-left: 70px;
            font-weight: bolder;
         }
           .h4{
             margin-left: 20px;
           }  
         .h2{
            font-size: 15px;
         }
         .row1{
             color: white;
            padding-left: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             
         }
         .web{
             height: 50px;
             width: 400px;
             background-color: blue;
             border-radius: 20px;
         }
         .web2{
             height: 100px;
          width:400px;
          background-color: blue;
          border-radius: 20px;
         }
h1{
    color: white;
    font-family:monospace;
    padding-left: 10px;
    
}
p{
    color:white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
}
h4{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;}
    .daugter1{
        width: 450px;
        height: 120px;
        border-radius: 5px;
         text-align: center;
        padding-top: 40px;
        background-color:white;
        box-shadow:
        rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px
        0px;
    }
    .son3{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .row2{
        padding-top: 20px;
    }
    .ros4{
        padding-left: 10px;
        padding-top: 15px;
    }
    .ros2{
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .mai{
        background-color:rgb(204, 204, 204);
    }
    .mother{
        background-color:rgb(250, 249, 249) ;
        height: 500px;
    }
    .son3{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   
   h5{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: 18px;
   }
   .stepson{
    background-color: rgb(245, 244, 241);
       height: 600px;
    }
       .son8{
        width:360px;
        height: 180px;
        border-radius: 5px;
        background-color:white;
        padding-top: 40px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; box-shadow:
        rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    .son1{
        height: 30px;
        width: 60%;
        border: rgb(14, 14, 131); 
        color: black;
        border-radius: 5px;
        margin-left: 30px;
        
    }
    .man1{
        padding-top: 5px;
           font-size: 15px;
    }
    
    
    .body4{
        
        height: 300px;
        
        background: linear-gradient(rgb(44, 44, 206), rgb(67, 111, 148)); 
    }
    